<?xml version="1.0"?>

<launch>
    <!--Nodelet to transform pointcloud to scan-->
    <node
            pkg="pointcloud_to_laserscan"
            name="pointcloud_to_laserscan"
            type="pointcloud_to_laserscan_node"
            args="cloud_in:=/velodyne/points2"
            output="screen">
    </node>
    <!--Bifurcation identification-->
    <node pkg="duct_explorer_ros" name="states_machine" type="states_machine.py" args="" output="screen"> </node>
    <!--Node that navigates the robot through the duct-->
    <node pkg="duct_explorer_ros" name="duct_explorer" type="gallery_explorer.py" args="" output="screen"> </node>
</launch>